In [1]:
# getting a slice
s = 'digipodium'
slice1 = s[4:7]
print(slice1)

pod

In [2]:
s = 'digipodium'
slice2 = s[0:4]
print(slice2)

digi

In [3]:
s = 'digipodium'
slice1 = s[4:len(s)]
slice2 = s[4:]
print(slice1)
print(slice2)

podium
podium

In [4]:
name = 'garima shukla'

In [14]:
fname = name[:4]
lname = name[5:]
print(fname)
print(lname)

gari
a shukla

string reserve - with slicing

In [11]:
name[::-1]

'alkuhs amirag'

In [12]:
# even character of a string
name[::2]

'grm hka'

In [13]:
# odd character of a string 
name[1::2]

'aiasul'

In [15]:
name[::-1][:5][::-1]

'hukla'

In [16]:
data = '59.30%'
float(data[:-1])

59.3

In [18]:
value = '$910292+'
int(value[1:-1])

910292

In [4]:
x = chr(65)
print(x)

A

In [2]:
with open('char.txt','w',errors='ignore') as f:
    for i in range(160000):
       try:f.write(f'{i} {chr(i)}\n')
       except:pass
    print('done')

done

In [5]:
y = ord('A')
print(y)
y = ord('a')
print(y)
y = ord('{')
print(y)

65
97
123

In [7]:
w1 = ' this '
w2 = ' is '
w3 = ' Amazing '
msg = w1 + w2 + w3
print(msg)

 this  is  Amazing

In [8]:
a = ' apple '
b = ' juice '
ab = a + b
print(ab)

 apple  juice

In [12]:
word = ' HI '
print(word * 3)
print('-' * 25)

 HI  HI  HI
-------------------------

## string methods
- formatting methods
     - upper()
     - lower()
     - capitalize()
     - title()
     - swapcase()

In [1]:
msg = 'Journey Before Destination'

In [2]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [3]:
msg.lower()

'journey before destination'

In [4]:
print(msg)

Journey Before Destination

In [5]:
msgc = msg.capitalize()

In [8]:
msg.swapcase()

'jOURNEY bEFORE dESTINATION'

In [10]:
msg.title()

'Journey Before Destination'

In [11]:
msg.casefold()

'journey before destination'

# String utility methods 
    - strip()
    - count()
    - split()
    - join()
    - find()
    - replace()
    - startswith()
    - endswith()

In [11]:
name = input('enter ur name: ')
print(name)
print(len(name))

garima shukla
13

In [12]:
clean_name = name.strip()
print(clean_name, len(clean_name))

garima shukla 13

In [13]:
data = 'abcdeabcdabcdabcdabcd'
data.count('a')

5

In [14]:
data.count('a') + data.count('A')

5

In [29]:
data = '''Once upon a time, there was hero who saved the world. 
one day he went to sleep, the end'''

In [30]:
data.count('the')

3

In [31]:
words = data.split()
print(words, len(words))

['Once', 'upon', 'a', 'time,', 'there', 'was', 'hero', 'who', 'saved', 'the', 'world.', 'one', 'day', 'he', 'went', 'to', 'sleep,', 'the', 'end'] 19

In [33]:
data.splitlines()

['Once upon a time, there was hero who saved the world. ',
 'one day he went to sleep, the end']

In [40]:
address_parts = [
    'C 184/4',
    'Railway Colony',
    'RDSO',
    'Manak Nagar',
    'Lucknow',
    '226011'
]

In [41]:
print(address_parts)

['C 184/4', 'Railway Colony', 'RDSO', 'Manak Nagar', 'Lucknow', '226011']

In [42]:
" ".join(address_parts)

'C 184/4 Railway Colony RDSO Manak Nagar Lucknow 226011'

In [43]:
','.join(address_parts)

'C 184/4,Railway Colony,RDSO,Manak Nagar,Lucknow,226011'

In [44]:
print('\n'.join(address_parts))

C 184/4
Railway Colony
RDSO
Manak Nagar
Lucknow
226011

In [7]:
message = 'it is a story about the clown in the movie it'
message.find('is' , 3 , 10)

3

In [10]:
def find_all(msg,query):
    pos = 0
    idxs = []
    while True:
        pos = msg.find(query, pos)
        if pos >= 0:
            idxs.append(pos)
            pos += 1
        else:
            break
        return idxs

In [15]:
find_all(message , 'it')

[0]

In [16]:
x = list(map(int,input().split()))
print(x)

[1, 2, 3, 44, 55]